<h1>Listing trips</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Up vote</th>
    <th>Down vote</th>
    <th>Published</th>
    <th>My trip</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.name %></td>
    <td><%= trip.description %></td>
    <td><%= trip.up_vote %></td>
    <td><%= trip.down_vote %></td>
    <td><%= trip.published %></td>
    <td><%= trip.my_trip %></td>
    <td><%= trip.user_id %></td>
    <td><%= link_to 'Show', trip %></td>
    <% if  @currentUser.id == trip.user_id %>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

