<script language="JavaScript">
    var _myUserId = <%= current_user().id %>;
    var _tripOwner = <%= @trip.user_id %>;
    var _myTripId = <%= @trip.id %>
    var _myTripUpVoteCount = <%= @trip.total_up_votes %>
    var _myTripDownVoteCount = <%= @trip.total_down_votes %>
    _tripLocationJSON = <%= raw @trip_items.to_json %>
</script>


<h1> Trip: </h1>
<div style="width: 200px;">
  <p>
      <b>Name:</b>
      <%= @trip.name %>
    </p>

    <p>
      <b>Description:</b>
      <%= @trip.description %>
    </p>


     <p>
       <a href="#" id="voteUpLink"><%= image_tag('like.png') %></a>
        <Div id="voting_up">
            <%= @trip.total_up_votes %>
        </Div>
    </p>
    <p>
      <a href="#" id="voteDownLink"><%= image_tag('dislike.png') %></a>
      <Div id="voting_down">
        <%= @trip.total_down_votes %>
      </div>
    </p>

    <%# commented out the none ajax way of casting a vote - leaving it here just for reference %>
    <%#= link_to('cast vote up', cast_vote_path(:user_id => current_user(), :vote_type => 'Up'), :method => :put) %>


    <p>
      <b>Published:</b>
      <%= @trip.published %>
    </p>

    <p>
      <b>My trip:</b>
      <%= @trip.my_trip %>
    </p>

    <p>
      <b>User:</b>
      <%= @trip.user_id %>
    </p>

    <h2>Trip Items:</h2>
    <% @trip_items.each do |thisTripItem| %>
        <p><%= thisTripItem.address %></p>
    <% end %>
</div>

<% if  current_user().id == @trip.user_id %>
    <div>
      <input id="TripSave" type="button" value="Save"/>
    </div>
<% end %>


<div id="panel">
  <input id="address" type="textbox" value="">
  <input id="SearchButton" type="button" value="Search..." onclick="DoLocationGeocode()">
  <span id="SearchingMessage" class="hidden"> <%= image_tag("ajax-loader1.gif") %> Searching... </span>
</div>


<div>
  <div id="map-canvas" style="width: 500px; float: left;"></div>
  <div style="padding-left: 510px;">
    <ul id="sortable">
    <!-- Javascript will insert items here -->
    </ul>
  </div>
</div>

<div id="GeocodeResultsDialog" class="hidden">
  <div id="GeocodeResultsMap"></div>
  <form id="GeocodeResultsChoices"></form>

</div>

