<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Description:</b>
  <%= @trip.description %>
</p>

<p>
  <b>Up vote:</b>
  <%= @trip.up_vote %>
</p>

<p>
  <b>Down vote:</b>
  <%= @trip.down_vote %>
</p>

<p>
  <b>Published:</b>
  <%= @trip.published %>
</p>

<p>
  <b>My trip:</b>
  <%= @trip.my_trip %>
</p>

<p>
  <b>User:</b>
  <%= @trip.user_id %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
