<script language="JavaScript">
    var _myUserId = <%= @currentUser.id %>;

</script>



<div style="float:left; height: 99%; width: 400px; margin-right: 10px; padding: 10px; border: 1px solid red;">
    <h1>Hi <%= @currentUser.name %></h1>
    <div id="tabs">
      <ul>
        <li><a href="#YourTrips">Your trips</a></li>
        <li><a href="#YourBookmarks">Bookmarks</a></li>
      </ul>

      <div id="YourTrips">
        <p> These are your trips: </p>
        <table id="TripsTable" style="border: 1px solid black; width:100%;">
          <thead>
            <tr>
              <th>Trip</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <%# the list of user's trips are created in landing.js in LoadTrips()  %>
              <td colspan="2"> <%= image_tag("ajax-loader1.gif") %>Loading your trips...</td>
            </tr>
          </tbody>
        </table>

        <div>
            <a href="#" id="NewTripLink">New</a>
        </div>
      </div>
      <div id="YourBookmarks">
        Todo
      </div>
    </div>
</div>

<div style="clear: left; float:left; width: auto; padding: 10px; border: 1px solid blue;">
    <h1> Search for something...</h1>
    <%= form_tag({:controller => 'landing', :action => 'index'}, :method => 'get') do %>
        <%= label_tag(:location, 'Enter a Location:') %>
        <%= text_field_tag(:location) %>
        <%= submit_tag('Search')   %>
    <% end %>

    <% if @search_location.nil? %>
        <%# TODO need to handle empty string search  %>
    <% else %>
        <%= form_tag({:controller => 'locations', :action => 'create'}, :method => 'post') do %>
            <%= hidden_field_tag :address, @search_location.first.data['address_components'][0]['long_name'] %>
            <%= submit_tag('Add Location')   %>
        <% end %>

        <% @search_location.first.data['address_components'].each do |object1| %>
            <table>
              <tr><%= object1 %></tr>
            </table>
        <% end %>
        <br>

        <% @search_location.first.data['geometry'].each do |object2| %>
            <table>
              <tr><%= object2 %></tr>
            </table>
        <% end %>
        <br>

        <table border="1">
          <tr>
            <th>Long Name</th>
            <th>City</th>
            <th>Country Code</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Type</th>
          </tr>
          <tr>
            <td><%= @search_location.first.data['address_components'][0]['long_name'] %></td>
            <td><%= @search_location.first.city %></td>
            <td><%= @search_location.first.country_code %></td>
            <td><%= @search_location.first.country %></td>
            <td><%= @search_location.first.coordinates[0] %></td>
            <td><%= @search_location.first.coordinates[1] %></td>
            <td><%= @search_location.first.types %></td>
          </tr>
        </table>

        <br>
        <%#= @search_location %>
    <% end %>

    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
</div>

<div id="DeleteTripDialog" title="Delete this trip?!" class="hidden">
  <p>This trip will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<div id="TripDialog" title="Create a new trip..." class="hidden">
  <div id="TripDialogMessage" class="hidden">
  </div>

  <div id="TripDialogForm">
    <%= form_tag("#") do %>
        <%= label_tag(:name, 'Name:') %>
        <%= text_field_tag(:name) %>
        <%= label_tag(:description, 'Description:') %>
        <%= text_area_tag(:description, "", size: "40x10") %>
        <%= check_box_tag(:published) %>
        <%= label_tag(:published, "Published?") %>
        <%= hidden_field_tag 'user_id', @currentUser.id %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash_coord.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();

    });
</script>

