<<<<<<< HEAD
<div id="AuthBar">
  <div id="AuthBar_In" class="<%= !current_user() ? "visible" : "hidden" %>">
    <a id="LoginLink"><%= image_tag('generic_login_32x32.png') %></a>
    <a id="LoginLinkFB" href="/auth/facebook"><%= image_tag('facebook_32x32.png') %></a>
    <a id="LoginLinkTW"><%= image_tag('twitter_32x32.png') %></a>
  </div>


  <div id="AuthBar_Out" class="<%= current_user() ? "visible" : "hidden" %>">
    <a id="LogoutLink" href="/auth/logout">Logout</a>

  </div>
=======
>>>>>>> e489ad39fdde0d6de2c50808a29e1a9fd17fa96f

